
html,body{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}


p{
    padding-right: 10px;
    padding-top: 1px;
    margin-top: 1px;
}



header,footer{

    display: flex;
    flex-direction: row;
    

}

.headleft{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    justify-content: left;
    
}

.headcenter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headright{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: right;
}


.center{
    flex: 1;
    vertical-align:middle;
    display: flex;
    flex-direction: column;
    height: 60vh;
    color: blueviolet;
    align-self: center;
    justify-content: center;
    align-items: center;

}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.search,.searchbutton{
    margin: -5px;
    border: 2px solid rgb(209, 209, 209);
}

footer{
    vertical-align: bottom;
}